<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2bcGnL2gVAhXMYVo9N51xXR5nBnSsSsc</string>
	<key>GCM_SENDER_ID</key>
	<string>347561737536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cartPage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cart-page-credenz</string>
	<key>STORAGE_BUCKET</key>
	<string>cart-page-credenz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347561737536:ios:71cc724d13d4b89e878ea5</string>
</dict>
</plist>